@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Ubuntu", sans-serif;
    position: relative;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    display: inline-block;
}

@layer components {
}


.page .left .progress {
    position: absolute;
    top: 50px;
    right: -100px;
    z-index: 11;
    padding: 24px;
    background: #f7f7f7 url(./svg_paths.svg) no-repeat right;
    color: #f7f7f7;
    width: 260px;
    height: 260px;
    border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    -moz-border-radius: 50% 50% 50% 50%;
    -ms-border-radius: 50% 50% 50% 50%;
    -o-border-radius: 50% 50% 50% 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.progress .circle {
    position: absolute;
    top: -8px;
    left: -18px;
    width: 255px;
    height: 255px;
    border: 2px solid #f7f7f7;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.progress .circle.p1 {
    clip-path: ellipse(1% 100% at 8% 50%);
    transform: rotate(8deg);
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
}

.progress .circle.p2 {
    clip-path: ellipse(12% 100% at 8% 50%);
    transform: rotate(65deg);
    -webkit-transform: rotate(65deg);
    -moz-transform: rotate(65deg);
    -ms-transform: rotate(65deg);
    -o-transform: rotate(65deg);
}

.progress .circle.p3 {
    clip-path: ellipse(40% 100% at 8% 50%);
    transform: rotate(67deg);
    -webkit-transform: rotate(67deg);
    -moz-transform: rotate(67deg);
    -ms-transform: rotate(67deg);
    -o-transform: rotate(67deg);
}

.progress .circle.p4 {
    clip-path: ellipse(60% 100% at 8% 50%);
    transform: rotate(82deg);
    -webkit-transform: rotate(82deg);
    -moz-transform: rotate(82deg);
    -ms-transform: rotate(82deg);
    -o-transform: rotate(82deg);
}

.progress .circle.p5 {
    clip-path: ellipse(74% 100% at 8% 50%);
    transform: rotate(95deg);
    -webkit-transform: rotate(95deg);
    -moz-transform: rotate(95deg);
    -ms-transform: rotate(95deg);
    -o-transform: rotate(95deg);
}

.progress .circle.p6 {
    clip-path: ellipse(84% 100% at 8% 50%);
    transform: rotate(106deg);
    -webkit-transform: rotate(106deg);
    -moz-transform: rotate(106deg);
    -ms-transform: rotate(106deg);
    -o-transform: rotate(106deg);
}

.progress .circle.p7 {
    clip-path: ellipse(90% 100% at 8% 50%);
    transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -ms-transform: rotate(120deg);
    -o-transform: rotate(120deg);
}

.pageBtn {
    position: absolute;
    width: 14px;
    height: 14px;
    background-color: #f7f7f788;
    top: 0;
    left: 0;
    z-index: 12;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.pageBtn:hover {
    background-color: #f7f7f7bb;
    border: 2px solid #f7f7f7;
}

.pageBtn:nth-child(1) {
    top: -9px;
    left: 76px;
}

.pageBtn:nth-child(2) {
    top: -4px;
    left: 156px;
}

.pageBtn:nth-child(3) {
    top: 42px;
    left: 211px;
}

.pageBtn:nth-child(4) {
    top: 117px;
    left: 230px;
}

.pageBtn:nth-child(5) {
    top: 183px;
    left: 208px;
}

.pageBtn:nth-child(6) {
    top: 227px;
    left: 156px;
}

.pageBtn:nth-child(7) {
    top: 235px;
    left: 78px;
}

.pageBtn.active {
    background-color: #f7f7f7;
}

.page .left .progress .text {
    position: relative;
    left: -40px;
    background-color: inherit;
    z-index: 2;
    padding: 2px 0;
}

.page .left .progress h2 {
    font-size: 36px;
    margin: 6px 0 16px 0;
}

.page .left .progress p {
    opacity: 0.8;
}

.page .left .progress p:last-child {
    text-align: right;
}

.page .left .progress img {
    width: 100%;
}

.page .left .info {
    padding: 24px;
}

.page .left .info h2 {
    font-size: 40px;
    margin: 0 0 14px 0;
}

.page .left .info p {
    max-width: 140px;
    line-height: 26px;
    opacity: 0.8;
}

.page .left .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    opacity: 0.8;
}

.page .left .foot .skip {
    letter-spacing: 4px;
}

.page .right {
    width: 58%;
    position: relative;
    z-index: 1;
}

.page .right .asset1 {
    position: absolute;
    top: -74px;
    left: 0px;
    z-index: 10;
}

.page .right .asset2 {
    position: absolute;
    top: -128px;
    right: 30px;
}

.page .right .asset3 {
    position: absolute;
    bottom: -98px;
    right: -28px;
}

.page .right .asset4 {
    position: absolute;
    bottom: -10px;
    left: 60px;
    width: 240px;
}

.page .right .asset5 {
    position: absolute;
    top: 80px;
    right: 150px;
    width: 200px;
}

.page .right .asset6 {
    position: absolute;
    bottom: 70px;
    left: 120px;
    width: 240px;
}

.page .right .asset7 {
    position: absolute;
    top: -80px;
    right: 30px;
    width: 200px;
}

.page .right .asset8 {
    position: absolute;
    bottom: 100px;
    left: 60px;
    width: 280px;
}

.page .right .asset9 {
    position: absolute;
    bottom: 100px;
    left: 300px;
    width: 280px;
}

.page .right .asset10 {
    position: absolute;
    bottom: -50px;
    left: 150px;
    width: 240px;
}

.page .right .asset11 {
    position: absolute;
    top: -60px;
    right: 20px;
    width: 200px;
}

.page .right .asset12 {
    position: absolute;
    bottom: 100px;
    right: 20px;
    width: 200px;
}

.page .right .asset13 {
    position: absolute;
    top: -100px;
    left: 100px;
    width: 200px;
}

.page .right .asset14 {
    position: absolute;
    bottom: -160px;
    left: 330px;
    width: 200px;
}

.page .right .asset15 {
    position: absolute;
    bottom: -100px;
    left: 120px;
    width: 200px;
}

.page .right .asset16 {
    position: absolute;
    top: -30px;
    left: 340px;
    width: 200px;
}

.page .right .asset17 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

.page .right .asset18 {
    position: absolute;
    bottom: -70px;
    right: 212px;
    width: 320px;
    z-index: 2;
}

.page .right .asset19 {
    position: absolute;
    bottom: -50px;
    right: 40px;
    width: 260px;
}

.mobile-nav {
    display: none;
}

.mobile-nav a {
    width: 18px;
    height: 18px;
    background-color: #f7f7f788;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.mobile-nav a:hover {
    background-color: #f7f7f7bb;
    border: 2px solid #f7f7f7;
}

.mobile-nav a.active {
    background-color: #f7f7f7;
}



